@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 76px;
}


section {
    scroll-margin-top: var(--navbar-height);
}

[data-theme="dark"] .var1 {
  color: #facc15;
}

[data-theme="light"] .var1 {
  color: #1d4ed8;
}

[data-theme="dark"] .cta-button {
  background-color: #facc15;
  color: #15191e;
}

[data-theme="light"] .cta-button {
  background-color: #1d4ed8;
}

[data-theme="dark"] .service-icon {
  background-color: #facc15;
}

[data-theme="light"] .service-icon {
  background-color: #1d4ed8;
}

[data-theme="dark"] .service-card {
  border-color: #facc15;
}

[data-theme="light"] .service-card {
  border-color: #1d4ed8;
}



/* Hover efekt */
.nav-link:hover {
  opacity: 0.8;
}

/* Active / klik efekt */
.nav-link:active {
  opacity: 0.6;
}