@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 76px;
}


section {
    scroll-margin-top: var(--navbar-height);
}

[data-theme="dark"] .var1 {
  color: #facc15;
}

[data-theme="light"] .var1 {
  color: #1d4ed8;
}

[data-theme="dark"] .cta-button {
  background-color: #facc15;
  color: #15191e;
}

[data-theme="light"] .cta-button {
  background-color: #1d4ed8;
}

[data-theme="dark"] .service-icon {
  background-color: #facc15;
}

[data-theme="light"] .service-icon {
  background-color: #1d4ed8;
}

[data-theme="dark"] .service-card {
  border-color: #facc15;
}

[data-theme="light"] .service-card {
  border-color: #1d4ed8;
}

[data-theme="dark"] .blob {
  background-color: #facc15;
}

[data-theme="light"] .blob {
  background-color: #1d4ed8;
}


/* Hover efekt */
.nav-link:hover {
  opacity: 0.8;
}

/* Active / klik efekt */
.nav-link:active {
  opacity: 0.6;
}

/* From Uiverse.io by dylanharriscameron */ 
.ul-card {
  position: relative;
  width: 500px;
  height: 250px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 490px;
  height: 240px;
  z-index: 2;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 4s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

@media (max-width: 768px) {
  .ul-card {
    width: 400px;
    height: 200px;
  }

  .bg {
    width: 390px;
    height: 190px;
  }

  .blob {
    width: 240px;
    height: 240px;
  }
}
